* {
	font-family: 'Trebuchet MS';
	cursor: default;
	/*text-align: center;*/
}

#all-inputs {
	margin-top: 3em;
}

#all-inputs > div {
  text-align: center;
  margin: 1em;
}

.output {
	/*font-size: 1.4em;*/
	margin: auto;
}

input {
	width: 3em;
	cursor: auto;
}

input[invalid] {
	background-color: #FFCCCC;
}

#div[hidden] {
	display: none;
}

#calc-link-sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	user-select: none;
}

#calc-link-sidebar div {
	padding: 1em;
	border-radius: 0.5em;
	margin: 0.5em;
}

#calc-link-sidebar a {
	text-decoration: none;
	color: #000;
}

#hp-calc-link div {
	background-color: #FCC;
}

#mp-calc-link div {
	background-color: #CCF;
}

h1 {
	text-align: center;
	margin-top: 2em;
}

.output {
	font-size: 1.4em;
}

#fail-rates-output td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}


.shared-school-input {
  display: none;
}

body[displaying="fire"] div.shared-school-input.water {
  display: block;
}

body[displaying="fire"] div.shared-school-input.air {
  display: block;
}

body[displaying="fire"] div.shared-school-input.earth {
  display: block;
}

body[displaying="water"] div.shared-school-input.fire {
  display: block;
}

body[displaying="water"] div.shared-school-input.air {
  display: block;
}

body[displaying="water"] div.shared-school-input.earth {
  display: block;
}

body[displaying="air"] div.shared-school-input.fire {
  display: block;
}

body[displaying="air"] div.shared-school-input.water {
  display: block;
}

body[displaying="air"] div.shared-school-input.earth {
  display: block;
}

body[displaying="air"] div.shared-school-input.nature {
  display: block;
}

body[displaying="earth"] div.shared-school-input.fire {
  display: block;
}

body[displaying="earth"] div.shared-school-input.water {
  display: block;
}

body[displaying="earth"] div.shared-school-input.air {
  display: block;
}

body[displaying="nature"] div.shared-school-input.air {
  display: block;
}

body[displaying="conveyance"] div.shared-school-input.temporal {
  display: block;
}

body[displaying="conveyance"] div.shared-school-input.oshadow {
  display: block;
}

body[displaying="temporal"] div.shared-school-input.conveyance {
  display: block;
}

body[displaying="hoffense"] div.shared-school-input.hsupport {
  display: block;
}

body[displaying="hoffense"] div.shared-school-input.oshadow {
  display: block;
}

body[displaying="hsupport"] div.shared-school-input.hoffense {
  display: block;
}

body[displaying="oshadow"] div.shared-school-input.conveyance {
  display: block;
}

body[displaying="oshadow"] div.shared-school-input.unlife {
  display: block;
}

body[displaying="oshadow"] div.shared-school-input.necromancy {
  display: block;
}

body[displaying="ounlife"] div.shared-school-input.oshadow {
  display: block;
}

body[displaying="ounlife"] div.shared-school-input.necromancy {
  display: block;
}

body[displaying="ppower"] div.shared-school-input.attunement {
  display: block;
}

body[displaying="attunement"] div.shared-school-input.ppower {
  display: block;
}

body[displaying="attunement"] div.shared-school-input.mintrusion {
  display: block;
}

body[displaying="mintrusion"] div.shared-school-input.attunement {
  display: block;
}

#fail-rates-output tbody tr {
	display: none;
}

body[displaying="mana"] #fail-rates-output tr.mana {
	display: table-row;
}

body[displaying="fire"] #fail-rates-output tr.fire {
  display: table-row;
}

body[displaying="water"] #fail-rates-output tr.water {
  display: table-row;
}

body[displaying="air"] #fail-rates-output tr.air {
  display: table-row;
}

body[displaying="earth"] #fail-rates-output tr.earth {
  display: table-row;
}

body[displaying="conveyance"] #fail-rates-output tr.conveyance {
  display: table-row;
}

body[displaying="divination"] #fail-rates-output tr.divination {
  display: table-row;
}

body[displaying="temporal"] #fail-rates-output tr.temporal {
  display: table-row;
}

body[displaying="nature"] #fail-rates-output tr.nature {
  display: table-row;
}

body[displaying="udun"] #fail-rates-output tr.udun {
  display: table-row;
}

body[displaying="hoffense"] #fail-rates-output tr.hoffense {
  display: table-row;
}

body[displaying="hdefense"] #fail-rates-output tr.hdefense {
  display: table-row;
}

body[displaying="hcuring"] #fail-rates-output tr.hcuring {
  display: table-row;
}

body[displaying="hsupport"] #fail-rates-output tr.hsupport {
  display: table-row;
}

body[displaying="druid-arcane"] #fail-rates-output tr.druid-arcane {
  display: table-row;
}

body[displaying="druid-physical"] #fail-rates-output tr.druid-physical {
  display: table-row;
}

body[displaying="ppower"] #fail-rates-output tr.ppower {
  display: table-row;
}

body[displaying="attunement"] #fail-rates-output tr.attunement {
  display: table-row;
}

body[displaying="mintrusion"] #fail-rates-output tr.mintrusion {
  display: table-row;
}

body[displaying="astral"] #fail-rates-output tr.astral {
  display: table-row;
}

body[displaying="oshadow"] #fail-rates-output tr.oshadow {
  display: table-row;
}

body[displaying="ospirit"] #fail-rates-output tr.ospirit {
  display: table-row;
}

body[displaying="ohereticism"] #fail-rates-output tr.ohereticism {
  display: table-row;
}

body[displaying="ounlife"] #fail-rates-output tr.ounlife {
  display: table-row;
}

footer {
	font-size: 0.6em;
	position: fixed;
	bottom: 0px;
}





